body{
    background-image: url(../images/what-the-hex-dark.png);
    font-family: 'Roboto', Courier, monospace;
}
tbody{
    font-family: 'Staatliches', sans-serif;
}
.td-3, 
.td-4, 
.td-5{
    text-indent: 1em;
}
.jumbotron{
    height: fit-content;
    padding: 2rem 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid beige;
}
.jumbotron h5{
    font-style: italic;
}
.card{
    margin-bottom: .5rem;
    background: beige;
    border: none;
}
.card-header{
    color: white;
}